.html{
    font-family: sans-serif;
}

.titleone{
    text-align: center;
    line-height: 250%;
}

.titlepage{
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    line-height: 200%;
    margin-top: 0px;
}

.head{  
    background-image: url("/design1_image1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position-y: -80px;

}

.links{
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 2%;
    vertical-align: top;
}

.link{
    width: 40%;
    display: block;
    line-height: 250%;
}

.info{
    display: inline-block;
    width: 600px;
    height: 30px;     
}

.logo{
    height: 90px;
    position: absolute;
    right: 28px;
    top: 397px;
}

.text{
    display: inline-block;
    text-align: justify;
    margin-top: 0px; 
    margin-left: 3%;
}
.clendar{
    margin:4px;
}